<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="DBSettings" type="System.Configuration.AppSettingsSection" />
		<section name="ModbusSettings" type="System.Configuration.AppSettingsSection" />
		<section name="ServiceSettings" type="System.Configuration.AppSettingsSection" />
		<section name="ClientSettings"	type="System.Configuration.AppSettingsSection" />
	</configSections>
  	

  	<!-- Настройка БД -->
  	<DBSettings>
  		<add key="DBType" value="" />
  		<add key="DBDataSource" value="" />
  		<add key="DBName" value="" />
  		<add key="DBUser" value="" />
  		<add key="DBPassword" value="" />
		<add key="DBPeriod" value="" />
  	</DBSettings>
	
	<!-- Настройка службы -->
	<ServiceSettings>
		<add key="IP" value="" />
		<add key="Port" value="" />
	</ServiceSettings>
	
  	<!-- Настройка Modbus -->
   	<ModbusSettings>
      <add key="MBType" value="" />
      <add key="MBSerialport" value="" />
      <add key="MBBaudRate" value="" />
      <add key="MBParity" value="" />
      <add key="MBStopBit" value="" />
      <add key="MBDataBits" value="" />
      <add key="MBSlave" value="" />
      <add key="MBIPAddress" value="" />
      <add key="MBTCPPort" value="" /> 
   	</ModbusSettings>
	
	<!-- Настройка клиента -->
	<ClientSettings>
		<add key="alarmDiscrete" value="" />
		<add key="alarmAnalog" value="" />
	</ClientSettings>
	<startup>
		<supportedRuntime version="v2.0.50727" />
	</startup>
</configuration>